.danger {
    color: red;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid blue;
    background-color: green;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
  }
  
  nav a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
  
  .pulse {
    animation-name: inline-uxanogx;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes inline-uxanogx {
    from {
      background-color: yellow;
    }
    to {
      background-color: red;
    }
  }
  circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }
  
  .reset-buttons, .action-buttons {
    box-sizing: border-box;
    border-top: 1px rgba(0, 0, 0, 0.12) solid;
    padding: 16px 0;
    width: 100%;
  }
  
  .reset-buttons:hover, .action-buttons:hover {
    border: 2px rgba(0, 0, 0, 0.5) solid;
  }
  
  .action-buttons {
    color: #4285f4;
  }
  
  .reset-buttons {
    color: #cddc39;
  }
  
  .micro {
    width: 180px;
  }
  
  .header {
    margin-bottom: 4rem;
    /* ========== Navigation =========== */
  }
  
  .header .navbar {
    padding: 2.5rem 0;
    position: relative;
    z-index: 1;
  }
  
  .header .navbar .row {
    justify-content: space-between;
  }
  
  .header .navbar .row .nav-list a {
    display: inline-block;
    padding: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--black-color);
  }
  
  .header .navbar .row .nav-list a.user-link {
    display: none;
  }
  
  .header .navbar .row .nav-list a:not(:last-child) {
    margin-right: 0.5rem;
  }
  
  .header .navbar .row .nav-list a:hover {
    color: var(--primary-color);
  }
  
  .header .navbar .row .icons .icon {
    font-size: 2.2rem;
    padding: 0.5rem;
    color: var(--black-color);
    cursor: pointer;
    justify-content: center;
    position: relative;
  }
  
  .header .navbar .row .icons .icon:not(:last-child) {
    margin-right: 3rem;
  }
  
  .header .navbar .row .icons .icon span {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: var(--primary-color);
    border: 1px solid var(--black-color);
    position: absolute;
    top: 0.3rem;
    right: 0.4rem;
    border-radius: 50%;
  }
  
  .header .navbar .row .icons .icon:hover {
    background-color: #f4f4f4;
  }
  
  .header .hamburger,
  .header .close {
    display: none;
  }
  